      {% if schools %}
       <!--<h2 class="ask-form-header-inner">Select course</h2></div>-->
        <!--<table class="table table-striped table-condensed" id="ask_table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>School</th>-->
                <!--<th>Level</th>-->
                <!--<th>Course</th>-->

            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->

            <!--<tr>-->
                <!--<td>-->
                    <!--<select name="school" id="school_select" size="6">-->
                        <!--{% for school in schools %}-->
                        <!--<option value="{{ school.id }}">{{ school.name }}</option>-->
                        <!--{% endfor %}-->
                    <!--</select>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<select name="level" id="level_select" size="6">-->
                        <!--{% if selected_school %}-->
                        <!--{% for level in selected_school %}-->

                        <!--<option value="{{ level.id }}">{{ level.name }}</option>-->
                        <!--{% endfor %}-->
                        <!--{% else %}-->
                        <!--<option value="...">...</option>-->
                        <!--<option value="...">...</option>-->
                        <!--<option value="...">...</option>-->
                        <!--<option value="...">...</option>-->
                        <!--<option value="...">...</option>-->
                        <!--{% endif %}-->

                    <!--</select>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<select name="course" id="course_select" size="6">-->
                        <!--{% if selected_level %}-->
                        <!--{% for course in selected_level %}-->

                        <!--<option value="{{ course.id }}">{{ course.name }}</option>-->
                        <!--{% endfor %}-->
                        <!--{% else %}-->
                            <!--<option value="...">...</option>-->
                            <!--<option value="...">...</option>-->
                            <!--<option value="...">...</option>-->
                            <!--<option value="...">...</option>-->
                            <!--<option value="...">...</option>-->

                        <!--{% endif %}-->

                    <!--</select>-->
                <!--</td>-->
            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    {% endif %}

