{% extends "base.html" %}

{% block body_block %}
{% load widget_tweaks %}
{% load staticfiles %}

{% if schools %}
<div id="ask-form-wrapper">
<div id="ask_form">
    <br>

    <div>
        <div class="ask-form-header"><img class="ask-form-header-inner circle-image" width="40" height="40" src="{% static 'images/red_circle_1.png' %}" alt="1"/>

            <h2 class="ask-form-header-inner">Select your category</h2></div>
       {% include 'peer_reply/add_courses.html' %}
    </div>
    {% endif %}



    <div >

    <form class="form-horizontal" method="POST" action="/peer_reply/ask/" id="ask-form">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}


            <div class="control-group">
                <div class="ask-form-header"><img class="ask-form-header-inner circle-image" width="40" height="40" src="{% static 'images/red_circle_2.png' %}" alt="2"/>

            <h2 class="ask-form-header-inner">Type your question</h2></div>

                <div class="controls">
                    <div class="form-group" id="ask-title">
                            {{ form.title.errors }}
                            {% render_field form.title placeholder="Title" id="ask-title" %}
                        </div>

                </div>
            </div>
            <div class="control-group">
                <div class="controls">

                    <div class="form-group" id="ask-body">

                    {{ form.body.errors }}
                          {% render_field form.body class="form-control" rows="5" cols="50" placeholder="Question"id="ask-body" %}
                        </div>

                </div>

                {% render_field form.course type="hidden"   value="" id="ask-course-input" %}
            </div>

    <br><br>
    <input type="submit" value="Submit your question" name="submit" id="question-submit">
    </form>
    </div>
</div>
</div>

{% endblock %}


