{% extends "base.html" %}


{% block body_block %}
{% load widget_tweaks %}
    </br>
    <h1>Post a question</h1>

    {% if error %}
        <h2>Please enter both fields</h2>
    {% endif %}
    </br>
    <form method="POST" action="/peer_reply/ask/{{course.slug}}/" >
        {% csrf_token %}
        <ul>
           {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% render_field form.title placeholder="Title" size="50" %}
                    {% render_field form.body rows="20" cols="100" placeholder="Question"  %}
        </ul>
        <input type ="submit" value="Submit question" class="submit"/>
    </form>

{% endblock %}

