{% extends 'base.html' %}
{% block body_block %}
<div id="questions">
    {% if questions %}
    {% for question in questions %}
    <a><div class="question_link"><div>{{ question.title }}</div><div>{{ question.body }}</div> <div>{{question.user.picture}}</div><div>{{ question.views }}</div></div></a>

    <a>
        <div class="question_link">
            <div>{{ question.title }}</div>
            <div>{{ question.body }}</div>
            <div>{{ question.user.username }}</div>
            <div>{{question.user.picture}}</div>
            <div>Views: {{ question.views }}</div>
            <div>Posted: {{ question.created }}</div>
            <div>Modified: {{ question.modified }}</div>
        </div>
    </a>
    {% endfor %}

    {% endif %}

</div>
{% endblock %}
