{% extends 'base.html' %}

{% block left_block %}
    {% include 'peer_reply/left_block.html' %}
{% endblock %}

{% block body_block %}
<ul class="nav nav-tabs">
    <li class="active">
    <a  class="nav-tab-link course-rank">Recent</a>
    </li>
    <li><a  class="nav-tab-link course-rank">Hot</a></li>

</ul>
      <ul class="nav nav-pills" id="post-links">
             {% if user.is_authenticated %}
            <li role="presentation" ><a href="{% url 'add_question' %}">Post a question</a></li>
             {% endif %}
            <li role="presentation" ><a href="{% url 'user_profiles' %}">View top users</a></li>
            <li role="presentation" ><a href="{% url 'quizzes' course.slug %}">Quizzes</a></li>
</ul>
{% include 'peer_reply/questions.html' %}
<input type="hidden" value="{{ course.slug }}" id="course_slug">
<div id="more_btn">
    <span class="glyphicon glyphicon-chevron-down course-more-btn more-btn"> Load more</span>
</div>

{% endblock %}
{% block right_block %}
    {% include 'peer_reply/top_quiz_links.html' %}
    {% if user.is_authenticated %}
        {% if course %}
            <a  href="{% url 'add_quiz' course.slug %}">
                <div id="quiz_btn">
                <div class="add-quiz-btn-inner">
                    Add Quiz
                    </div>

                    </div>
                </a>
        {% endif %}
    {% endif %}


{% endblock %}