{% extends 'base.html' %}

{% block left_block %}
    {% include 'peer_reply/left_block.html' %}
{% endblock %}

{% block body_block %}
{% if cur_school %}<h4 id="current-location">{{ cur_school }}/{{ cur_level }}/{{ course.name }}</h4>

                {% endif %}

<ul class="nav nav-tabs">
    <li class="active">
    <a  class="nav-tab-link course-rank">Recent</a>
    </li>
    <li><a  class="nav-tab-link course-rank">Hot</a></li>

</ul>

      <ul class="nav nav-pills" id="post-links">
             {% if user.is_authenticated %}
            <li role="presentation" ><a href="{% url 'add_question' %}">Post a question</a></li>
             {% endif %}
            <li role="presentation" ><a href="{% url 'user_profiles' %}">View top users</a></li>
            <li role="presentation" ><a href="{% url 'quizzes' course.slug %}">Quizzes</a></li>
</ul>
{% include 'peer_reply/questions.html' %}

<div id="more_btn">
    <span class="glyphicon glyphicon-chevron-down course-more-btn more-btn"> Load more</span>
</div>
<input type="hidden" value="{{ course.slug }}" id="course_slug">
{% endblock %}
{% block right_block %}
    <div  id="right_block">
    {% include 'peer_reply/top_quiz_links.html' %}


    </div>
{% endblock %}

<script type="text/javascript">

$(document).ready(function () {
$('quiz_btn').show();
})
    </script>