
    <div id="navcourses" class="navcourses default-skin" id="left-block-inner">
        {% if user.is_authenticated %}

        {% if user.profile %}

        <h3>My courses</h3>
        <br>
        <br>

            <ul class="nav nav-list tree">
                    {% for level in levels %}
                    <li><label class="tree-toggler-level nav-header">
                        <span class="glyphicon glyphicon-chevron-down school_down_icon"></span><span
                            class="glyphicon glyphicon-chevron-up school_left_icon">
                                  </span> {{ level.name }}</label>
                        {% if user.profile.courses.all.count > 0 %}
                        <ul class="nav nav-list tree">
                            {% for course in user.profile.courses.all %}

                                {% ifequal course.level.name.name level.name %}
                                    <li class="course-link"><a  href="{% url 'course' course.slug %}">{{ course.name }}</a></li>
                                {% endifequal %}
                            {% endfor %}
                            <li><hr></li>
                        </ul>
                        {% endif %}
                    </li>

                    {% endfor %}
                </ul>
        <br>
        <p>Want to view questions in more courses?</p>
        <p>Just add courses you are interested in on your profile page.</p>
        {% endif %}


        {% else %}


        {% if universities %}

        {% for university in universities %}
        <h3>Courses</h3>
        {% if university.school_set.count > 0 %}
        <ul class="nav nav-list">
            {% for school in university.school_set.all %}

            <li><label class="tree-toggler nav-header">
                <span class="glyphicon glyphicon-chevron-down school_down_icon"></span><span
                    class="glyphicon glyphicon-chevron-left school_left_icon">
                                  </span> {{ school.name }}</label>
                {% if school.level_set.count > 0 %}
                <ul class="nav nav-list tree">

                    {% for level in school.level_set.all %}
                    <li><label class="tree-toggler-level nav-header">
                        <span class="glyphicon glyphicon-chevron-up school_down_icon"></span><span
                            class="glyphicon glyphicon-chevron-down school_left_icon">
                                  </span> {{ level.name }}</label>
                        {% if level.course_set.count > 0 %}
                        <ul class="nav nav-list tree">

                            {% for course in level.course_set.all %}

                            <li class="course-link"><a  href="{% url 'course' course.slug %}">{{ course.name }}</a></li>

                            {% endfor %}
                            <li><hr></li>
                        </ul>
                     {% endif %}
                    </li>

                    {% endfor %}
                </ul>
                {% endif %}
                <br>
                <br>
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% endfor %}

        {% else %}
        <strong>There are no courses present.</strong>
        {% endif %}

        {% endif %}
        <br>
        <br>
    </div>
