{% block body_block %}
<div id="questions">
    {% if questions %}
    {% for question in questions %}
    <!--<a><div class="question_link"><div>{{ question.title }}</div><div>{{ question.body }}</div> <div>{{question.user.picture}}</div><div>{{ question.views }}</div></div></a>-->

    <a>
        <div class="question_link">
            <div class="question_link_title">{{ question.title }}</div>
            <!--<div>{{ question.body }}</div>-->

            <img width="30" height="30" src="{{ STATIC_URL }}images/default-user-icon-profile.png" class="question_link_pic"/>
            <div class="question_link_username">{{ question.user.username }}</div>
            <div class="question_link_views">Views: {{ question.views }}</div>
            <div class="question_link_posted">Posted: {{ question.created }}</div>
            <!--<div>Modified: {{ question.modified }}</div>-->
        </div>
    </a>
    {% endfor %}

    {% endif %}

</div>

{% endblock %}
