
<div id="questions">
    {% if questions %}
    {% for question in questions %}
    <!--<a><div class="question_link"><div>{{ question.title }}</div><div>{{ question.body }}</div> <div>{{question.user.picture}}</div><div>{{ question.views }}</div></div></a>-->


        <div class="question_link">
           <a href="{% url 'view_question' question.id question.slug %}"> <div><div class="question_link_title">{{ question.title|slice:":80"  }}</div>
            {% if question.body_length < 60 %}
                <div class="question_link_text">{{ question.body }}</div></div></a>
            {% else %}
                <div class="question_link_text">{{ question.body|slice:":200" }}...</div></div></a>
            {% endif %}
            <!--<div>{{ question.body }}</div>-->

            <a href="{% url 'profile' question.user.username %}">
                <img width="30" height="30" src="{{ question.user.profile.picture.url }}" class="question_link_pic"/>
                </a>
            <div class="question_link_username">{{ question.user.username }}</div>
            <div class="question_link_views">Views:{{ question.views }}</div>
            <div class="question_link_answers">Answers:{{ question.answer_set.count }}</div>
            <div class="question_link_posted">Posted:{{ question.created }}</div>
            <input type="hidden" value="{{ question.id }}">
            <div id="rep-pic">

                    <img width="60" height="60" class="square-rep-pic" src="{{ question.user.profile.rep_image.url }}"/>
                </div>
            <!--<div>Modified: {{ question.modified }}</div>-->
        </div>

    {% endfor %}

    {% endif %}

</div>
