{% extends 'base.html' %}

{% load staticfiles %}


{% if quiz %}
    {% block title %}{{ quiz.name }}{% endblock %}
{% endif %}

{% block body_block %}
<div id="quiz">
    <div id="quiz-inner">
           {% if quiz %}
            <div class="page-header">
                <h1>{{ quiz.name }}</h1>
                <h3>{{ likes }} {% if likes == 1 %} like {% else %} likes {% endif %}<a href=""><img src="/static/images/thumbup.png" title="Like this quiz" id="rate-quiz" data-quizid="{{ quiz.id }}" alt="thumbs up"/></a></h3>
                    <div class='quiz_profile'>
                        Created {{ quiz.created }}<br>
                        <a href="/peer_reply/profile/{{ quiz.user }}"><img src="/media/{{ quiz.user.profile.picture }}" height="50" width="50"  class="profile_picture" alt="user avatar"/></a>
                        <a href="/peer_reply/profile/{{ quiz.user }}">{{ quiz.user.username }}</a><br>
                    </div>
            </div>

             <form action='/peer_reply/quiz/{{ quiz.slug }}/quiz_results/' method = "POST">
               {% csrf_token %}
               <br/>{% for question in questions %}
                <div class='quiz_question'>
                   <h3> {{ question }} </h3>
                   <div>{% for answer in question.quizanswer_set.all %}
                        <input type="radio" name="{{ question.question_string }}" value="{{ answer.answer_string }}" required />{{ answer }}<br>

                        {% endfor %}</div><br><hr></div>
                  {% endfor %}
                    <input type="submit" value="Submit" /><br>
               </form>
           {% else %}
              <p>The requested quiz does not exist.</p>
           {% endif %}
        </div>
</div>
{% endblock %}
