{% extends 'base.html' %}

{% block left_block %}
    {% include 'peer_reply/left_block.html' %}
{% endblock %}

{% block body_block %}
{% if cur_school %}<h4 id="current-location">{{ cur_school }}/{{ cur_level }}/{{ course.name }}</h4>

                {% endif %}
<ul class="nav nav-tabs">
    <li class="active">
    <a  class="nav-tab-link quiz-rank">Recent</a>
    </li>
    <li><a  class="nav-tab-link quiz-rank">Hot</a></li>

</ul>
      <ul class="nav nav-pills" id="post-links">
             {% if user.is_authenticated %}
            <li role="presentation" ><a href="{% url 'add_question' %}">Post a question</a></li>
             {% endif %}
            <li role="presentation" ><a href="{% url 'user_profiles' %}">View top users</a></li>
            <li role="presentation" ><a href="{% url 'course' course.slug %}">Questions</a></li>
</ul>

<div id="quizzes">
    {% if quizzes %}
        {% for quiz in quizzes %}


        <div class="question_link">
           <a href="{% url 'quiz' quiz.slug %}"> <div class="question_link_title">{{ quiz.name }}</div></a>

            <a href="{% url 'profile' quiz.user.username %}">
                <img width="30" height="30" src="{{ quiz.user.profile.picture.url }}" class="question_link_pic" alt="user avatar"/>
                </a>
            <div class="question_link_username">{{ quiz.user.username }}</div>
            <div class="question_link_views">Likes:{{ quiz.likes}}</div>
            <div class="question_link_answers">Questions:{{ quiz.quizquestion_set.count }}</div>
            <div class="question_link_posted">Posted:{{ quiz.created }}</div>
            <input type="hidden" value="{{ quiz.id }}">
            <div class="rep-pic">

                    <img width="60" height="60" class="square-rep-pic" src="{{ quiz.user.profile.rep_image.url }}" alt="reputation award"/>
                </div>
            <!--<div>Modified: {{ question.modified }}</div>-->
        </div>

        {% endfor %}
    {% else %}
        <h4>No questions added yet to this category</h4>
    {% endif %}

</div>
<input type="hidden" value="{{ course.slug }}" id="quizzes-course">


{% endblock %}

<script type="text/javascript">

$(document).ready(function () {
$('quiz_btn').show();
})
    </script>