{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Search results{% endblock %}
{% block left_block %}
    {% include 'peer_reply/left_block.html' %}
{% endblock %}

{% block body_block %}
{% if search %}
    <input type="hidden" id="search_query" value="{{ search }}"/>
{% endif %}
<ul class="nav nav-tabs">
    <li class="active">
    <a  class="nav-tab-link search-rank">Recent</a>
    </li>
    <li><a  class="nav-tab-link search-rank">Hot</a></li>

</ul>
      <ul class="nav nav-pills" id="post-links">
             {% if user.is_authenticated %}
            <li role="presentation" ><a href="{% url 'add_question' %}">Post a question</a></li>
             {% endif %}
            <li role="presentation" ><a href="{% url 'user_profiles' %}">View top users</a></li>
</ul>
{% include 'peer_reply/questions.html' %}
{% if paginator.count > 10 %}
<div id="search-more-btn">
    <span class="glyphicon glyphicon-chevron-down search-more-btn more-btn"> Load more</span>
</div>
{% endif %}
{% endblock %}
{% block right_block %}
    <div  id="right_block">
        {% include 'peer_reply/top_quiz_links.html' %}
        </div>
{% endblock %}