{% extends 'base.html' %}

{% load staticfiles %}

{% block left_block %}
    {% include 'peer_reply/left_block.html' %}
{% endblock %}

{% block right_block %}
    {% include 'peer_reply/top_quiz_links.html' %}
{% endblock %}

{% if users %}
    {% block title %}Users{% endblock %}
{% endif %}

{% block body_block %}
<div>
           {% if users %}
             <h2>Top 20 Users on Peer Reply</h2>
               <br/>{% for user in users %}
                   <div class='user_profile'>
				   <a href="/peer_reply/profile/{{ user }}"><img src="/media/{{ user.picture }}" height="100" width="100" border="1" class="profile_picture"</img></a>
				   <a href="{% url 'profile' user %}">{{ user }}</a>
                    
				        <ol><b>Best Answers:</b> {{ user.no_best_answers }}<br>
                        <b>Quiz Likes:</b> {{ user.no_quiz_likes }}<br>
				        <b>Website:</b> {% if user.website %}<a href='{{ user.website }}'>{{ user.website }}</a>{% else %}<i>not provided</i>                       {% endif %}<br>
                        <b>Location:</b> {% if user.location %}{{ user.location }}{% else %} <i>not provided</i>{% endif %}<br>
                        <b>Member since:</b> {{ user.created|date }}</ol>
                    
                   </div>
                    <br>
                  {% endfor %}
                    
           {% else %}
              <p>The are no users to display.</p>
           {% endif %}
</div>
{% endblock %}
