{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}{{ question.title }}{% endblock %}

{% block left_block %}
    {% include 'peer_reply/left_block.html' %}
{% endblock %}
{% block body_block %}

<!-- QUESTION -->
<div id="view-question-wrapper">
{% if question %}
<div class="page-header"><h2>{{ question.title}}</h2></div>
    <b>{{ question.course }}</b><br>
    <div class='question'>
   
    <div class='question_profile'>
        Asked {{ question.created }}<br>
        <a href="/peer_reply/profile/{{ question.user }}"><img src="/media/{{ useraskprofile.picture }}" height="50" width="50" border="1" class="profile_picture"</img></a>
        <a href="/peer_reply/profile/{{ question.user }}">{{ question.user.username }}</a><br>
        {% if question.views == 1 %}
            Viewed {{ question.views }} time.
        {% else %}
            Viewed {{ question.views }} times.
        {% endif %}
    </div>
    
    <b><pre>{{ question.body }}</pre></b><br>
   
</div>


{% if answers %}
{% if no_of_answers == 1 %}
    <div class="page-header"><h3>{{ no_of_answers }} answer</h3></div>
{% else %}
    <div class="page-header"><h3>{{ no_of_answers }} answers</h3></div>
{% endif %}
<!-- BEST ANSWER -->
{% if best_answer %}

<div class='question'> 

    <div class='question_profile'>
        Answered {{ best_answer.created }}<br>
        <a href="/peer_reply/profile/{{ best_answer.user }}"><img src="/media/{{ useraskprofile.picture }}" height="50" width="50" border="1" class="profile_picture"</img></a>
        <a href="/peer_reply/profile/{{ best_answer.user }}">{{ best_answer.user.username }}</a><br>
        {% if best_answer.user.profile.no_best_answers == 0 %}
            no best answers
        {% elif best_answer.user.profile.no_best_answers == 1 %}
            {{ best_answer.user.profile.no_best_answers }} best answer
        {% else %}
            {{ best_answer.user.profile.no_best_answers }} best answers
        {% endif %}
    </div>
        
    <pre>{{ best_answer.body }}</pre>
    <div class="answer_rating">
            <img src="/static/images/tick.png" title="This is the best answer"</img>
            <span title="Rating">{{ best_answer.likes }}</span>
            <a href=""><img src="/static/images/thumbup.png" title="Add to this answers rating" class="rate" data-ansid="{{ best_answer.id }}"/></a>
        <a href=""><img src="/static/images/flag.png" title="Flag this answer as inappropriate. Currently {{ best_answer.flags }}." class="flag" data-ansid="{{ best_answer.id }}"/></a>
        </div>

<br><br>
</div>
{% endif %}

<!-- OTHER ANSWERS -->

{% for answer in answers %}
<div class="page-header">
<div class='question'> 

    <div class='question_profile'>
        Answered {{ answer.created }}<br>
        <a href="/peer_reply/profile/{{ answer.user }}"><img src="/media/{{ answer.user.profile.picture }}" height="50" width="50" border="1" class="profile_picture"</img></a>
        <a href="/peer_reply/profile/{{ answer.user }}">{{ answer.user.username }}</a><br>
        {% if answer.user.profile.no_best_answers == 0 %}
            no best answers
        {% elif answer.user.profile.no_best_answers == 1 %}
            {{ answer.user.profile.no_best_answers }} best answer
        {% else %}
            {{ answer.user.profile.no_best_answers }} best answers
        {% endif %}
    </div>

    <pre>{{ answer.body }}</pre>

    <div class="answer_rating">
        <span title="Rating">{{ answer.likes }}</span>
        <a href=""><img src="/static/images/thumbup.png" title="Add to this answers rating" class="rate" data-ansid="{{ answer.id }}"/></a>
        
        <a href=""><img src="/static/images/flag.png" title="Flag this answer as inappropriate. Currently {{ answer.flags }}." class="flag" data-ansid="{{ answer.id }}"/></a>
        
        {% if not best_answer %}
            {% if user.is_authenticated and question.user == user %}
                <a href=""><img src="/static/images/tick.png" title="Mark this answer as the best answer" class="best" data-ansid="{{ answer.id }}"/></a>
            {% endif %}
        {% endif %}
    </div>

<br><br>
</div>
</div>
{% endfor %}
{% else %}
<div class="page-header"><h2>There are not yet any answers for this question.</h2></div>
{% endif %}
<!-- ADD AN ANSWER FORM -->
<div class="page-header"><h2>Post your own answer</h2>Think you can answer this question?  Type your answer in the box below and click the button.<br>  Think carefully about your answer and how helpful it will be to the user who asked it and others.<br>  Answers that receive four flags get automaically removed and reviewed.</div>

<div class='question'>
        <form id="answer_form" method="post" action="/peer_reply/question/{{ question.id }}/{{ question.slug }}/?next=/peer_reply/question/{{ question.id }}/{{ question.slug }}/">

            {% csrf_token %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Post Your Answer" id="view-quiz-submit" />
            </form>
</div>

{% else %}
<div class="page-header"><h2>Question does not exist! Please check you typed the URL correctly.</h2></div>
{% endif %}

{% endblock %}
{% block right_block %}
    {% include 'peer_reply/top_quiz_links.html' %}

    {% if user.is_authenticated %}

            <a href="{% url 'add_quiz' question.course.slug %}"><button id="quiz_btn">
                    Add Quiz
                </button></a>

    {% endif %}
    </div>
{% endblock %}
