.question{
margin:0px 0px 20px 30px;
padding:3px;
}
#view-question-wrapper{
background-color:white;
width:105%;

margin-left:-2%;
padding:5px;
margin-bottom:50px;
padding-bottom:150px;
}
.question_profile{
right:30px;
padding:3px;
color:black;
text-align:left;
margin-left:60%;
border: 2px solid #a1a1a1;
border-radius: 5px;
border-color:lightblue;
}
.quiz_profile{
right:30px;
padding:3px;
color:black;
text-align:left;

margin-right: auto;
width: 50%;

}
.quiz_question{
right:30px;
padding:3px;
color:black;
text-align:left;
margin-right: auto;
width: 100%;

}
.user_profile{
right:30px;
padding:3px;
color:black;
text-align:left;
border: 2px solid #a1a1a1;
border-radius: 5px;
border-color:lightblue;
margin-left: auto;
margin-right: auto;
width: 33%;
float:left;
}
.profile_picture{
right:30px;
color:black;
text-align:left;
border: 2px solid #a1a1a1;
border-radius: 5px;
border-color:lightblue;

}

.answer_rating{
right:30px;
margin-right:70%;
padding:3px;
color:black;
float:left;
font-size:25px;
border: 2px solid #a1a1a1;
border-radius: 5px;
border-color:red;
}

pre {
	width: 672px;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
	}

input[type="submit"] {
background-color: #ED2427;
color:white;
text-decoration: none;
width:150px;
height:35px;
font-weight:bold;
font-size:13px;
text-align: center;

}
#view-quiz-submit{
margin-top:30px;
margin-left:66%;
}
.box {
display: inline-block;
vertical-align:top;
text-align: center;
padding:10px;
width: 35em;
word-wrap: break-word;
}
