{% extends "base.html" %}
 
{% load staticfiles %}

{{% block title %}Password Change{% endblock %}


{% block body_block %}
 <div class="page-header">
                <h1>Change Password</h1>
            </div>
    {% if next %}
        <form method="post" action="{{ next }}" >
    {%else%}
        <form method="post" action="{% url 'profile' user.username %}" >
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="Enter old password" />
        <input type="hidden" value="Enter new password" />
        <input type="hidden" value="re enter new password" />
        <input type="submit" value="change" />

    </form>
{% endblock %}
